Package: openmediavault-loopmgmt
Version: 0.3a
Architecture: all
Maintainer: William Ritchie <billr@domsys.com>
Installed-Size: 136
Depends: openmediavault
Section: misc
Priority: optional
Description: Adds loop device management to OpenMediaVault
